{% extends 'base.html' %}
{% include 'header.html' %}
{% block title %} Home {% endblock %}
{% block body %}
<div class="container">
<form action='' method = "POST">
<table class="table">
    <tr>
        <td>First Name</td>
        <td><input type = "text" name = "first_name" class="form-control" /></td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td><input type = "text" name = "last_name" class="form-control" /></td>
    </tr>

    <tr>
        <td>Email</td>
        <td><input type = "email" name = "email" class="form-control" /></td>
    </tr>

    <tr>
        <td>Password</td>
        <td><input type = "password" name = "password" class="form-control" /></td>
    </tr>

    <tr>
        <td>Gender</td>
        <td>
        Male: <input type = "radio" name = "gender"  value="Male"/>
         Female: <input type = "radio" name = "gender"  value="Female"/>
        </td>
    </tr>

    <tr>
        <td>SkillSet</td>
        <td>
            Python : <input type="checkbox" name="skillset"  value="python">
            Java : <input type="checkbox" name="skillset"  value="java">
            C : <input type="checkbox"  name="skillset"  value="C">
            C++ : <input type="checkbox"  name="skillset"  value="C++">
            C# : <input type="checkbox" name="skillset"  value="C#">
            R : <input type="checkbox" name="skillset"  value="R">
            HTML : <input type="checkbox" name="skillset"  value="html">
            CSS : <input type="checkbox" name="skillset"  value="css">
            Linux : <input type="checkbox" name="skillset"  value="linux">
            OSX : <input type="checkbox" name="skillset"  value="osx">
            Windows : <input type="checkbox" name="skillset"  value="windows">
        </td>
    </tr>
    <tr>
        <td>Focus</td>
        <td>
        <select name="focus" class="form-control">
            <option value="FrontEnd">Front End</option>
            <option value="BackEnd">Back End</option>
            <option value="FullStack">Full Stack</option>
            <option value="DBMmgt">DB Mmgt</option>
            <option value="Security">Security</option>
            <option value="Ui">Ui</option>
            <option value="Ai">Ai</option>
         </select>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <input type="submit" name="submit" value="submit" class="btn btn-warning">
        </td>

    </tr>
</table>

  </form>

</div>
{% endblock %}